<template>
  <v-app>
    <dashboard-core-app-bar />

    <dashboard-core-sidebar />

    <dashboard-core-view />

    <dashboard-core-settings />
  </v-app>
</template>

<script>
  export default {
    name: 'DashboardIndex',

    components: {
      DashboardCoreAppBar: () => import('./core/AppBar'),
      DashboardCoreSidebar: () => import('./core/Sidebar'),
      DashboardCoreSettings: () => import('./core/Settings'),
      DashboardCoreView: () => import('./core/View'),
    },

    data: () => ({
      expandOnHover: false,
    }),
  };
</script>
